@import "tailwindcss";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme inline {
  --font-display: var(--font-poppins);
  --font-number: var(--font-roboto);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
